:root {
    color-scheme: light dark;
    --button-background: rgb(102, 160, 131);
}
html {
    font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin: 0;
    color: light-dark(#333b3c, #efefec);
    background-color: light-dark(#efedea, #161624);
}

/* ============================================================================================ */
/* SIDEBAR */
.sidebar {
    background: rgb(2, 122, 159);
    display: flex;
    flex-direction: column;
    position: fixed;
    min-height: 100vh;
    min-width: 25vw;
    transition: all 1s;
}
.sidebar h1 {
    cursor: default;
    text-align: center;
}
.sidebar-off {
    display: none;
}

/* ============================================================================================ */
/* RADIO BUTTONS/DIFFICULTY OPTIONS */
.difficulty-options {
    display: flex;
    justify-content: space-around;
    font-size: larger;
}


/* ============================================================================================ */
/* BUTTON */
.start {
    background: var(--button-background);
    border-radius: 8px;
    color: #161624;
    cursor: pointer;
    font-size: 100px;
    padding: 0.8rem 1.5rem;
    transition: all 1s ease;
    position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
}
.stop {
    background: var(--button-background);
    color: #161624;
    font-size: 50px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 1s ease;
    position: absolute;
    right: 0;
}
.start:hover, .stop:hover {
    background: black;
    color: white;
}

/* ============================================================================================ */
/* GRID */
.rt-grid {
    background: rgb(105, 92, 92);
    border-radius: 20px;
    display: grid;
    gap: 10px;
    grid-auto-rows: 25vh;
    grid-template-columns: repeat(3, 1fr);
    min-width: 50vw;
    padding: 15px;
}
.rt-grid div {
    background: #333b3c;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.rt-grid .inactive:hover {
    filter: brightness(1.3);
    transform: translateY(-3px);
}
.rt-grid .active {
    background: rgb(255, 255, 255);
}
.rt-grid .active:hover {
    transform: translateY(-3px);
}

.rt-grid .correct {
    background: rgb(0, 253, 30);
    animation: correct 0.5s ease;
}
.rt-grid .incorrect {
    background: rgb(255, 0, 0);
    animation: incorrect 0.5s ease;
}

@keyframes correct {
  0% { transform: scale(1); }
  50% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

@keyframes incorrect {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  75% { transform: translateX(10px); }
}

/* ============================================================================================ */
/* COUNTDOWN TIMER */
.cd-countdown {
    font-size: 200px;
    color: rgb(6, 124, 227);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Responsive Design */
@media (max-width: 600px) {
  .rt-grid {
    gap: 10px;
    padding: 15px;
  }
  
  .rt-grid > div {
    font-size: 1.2rem;
    border-radius: 12px;
  }
}
